<div class="pizzaDetailsMain">
  <div class="pizzaInfos" *ngFor="let pizza of pizzas">
    <div class="order">
      <button (click)="decrementNumber(pizza)" [disabled]="(pizza.numberOrdered <= 0)" class="btnPizza" type="button">
        -
      </button>
      <button (click)="incrementNumber(pizza)" [disabled]="(pizza.numberOrdered >= 7)" class="btnPizza" type="button">
        +
      </button>
    </div>
    <p>{{ pizza.name }} x {{ pizza.numberOrdered }}</p>
    <p>
      (Total: {{ pizza.totalAmountProduct | currency: "EUR":"symbol":"1.2-2" }})
      -- {{ pizza.price | currency: "EUR":"symbol":"1.2-2" }}
    </p>
  </div>
</div>
